@{
    ViewData["Title"] = "Home Page";
}

<div  class="row g-2">
    <div style="margin-top:50px; margin-bottom:50px" class="col-md-3">
        <div class="card" style="width: 18rem; background-color: #911300">
            <div><a asp-action="Information">
                    <img src="@Url.Content("~/lib/images/pngwing.com (2).png")" class="card-img-top" alt="...">
                </a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="color:white;  background-color: #911300">Мия Баки</li>
                <li class="list-group-item" style=" color:white; background-color: #911300">443778 руб</li>
            </ul>
            <div class="card-body">
                <button class="btn btn-sm btn-dark">В корзину</button>
            </div>
        </div>
    </div>
    <div style="margin-top:50px; margin-bottom:50px" class="col-md-3">
        <div class="card" style="width: 18rem; background-color: #911300">
            <div>
                <a asp-action="Information">
                    <img src="@Url.Content("~/lib/images/pngwing.com (2).png")" class="card-img-top" alt="...">
                </a>
            </div>            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="color:white;  background-color: #911300">Мия Баки</li>
                <li class="list-group-item" style=" color:white; background-color: #911300">443778 руб</li>
            </ul>
            <div class="card-body">
                <button class="btn btn-sm btn-dark">В корзину</button>
            </div>
        </div>
    </div>
    <div style="margin-top:50px; margin-bottom:50px" class="col-md-3">
        <div class="card" style="width: 18rem; background-color: #911300">
            <div>
                <a asp-action="Information">
                    <img src="@Url.Content("~/lib/images/pngwing.com (2).png")" class="card-img-top" alt="...">
                </a>
            </div>            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="color:white;  background-color: #911300">Мия Баки</li>
                <li class="list-group-item" style=" color:white; background-color: #911300">443778 руб</li>
            </ul>
            <div class="card-body">
                <button class="btn btn-sm btn-dark">В корзину</button>
            </div>
        </div>
    </div>
    <div style="margin-top:50px; margin-bottom:50px" class="col-md-3">
        <div class="card" style="width: 18rem; background-color: #911300">
            <div>
                <a asp-action="Information">
                    <img src="@Url.Content("~/lib/images/pngwing.com (2).png")" class="card-img-top" alt="...">
                </a>
            </div>            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="color:white;  background-color: #911300">Мия Баки</li>
                <li class="list-group-item" style=" color:white; background-color: #911300">443778 руб</li>
            </ul>
            <div class="card-body">
                <button class="btn btn-sm btn-dark">В корзину</button>
            </div>
        </div>
    </div>
    <div style="margin-top:50px; margin-bottom:50px" class="col-md-3">
        <div class="card" style="width: 18rem; background-color: #911300">
            <div>
                <a asp-action="Information">
                    <img src="@Url.Content("~/lib/images/pngwing.com (2).png")" class="card-img-top" alt="...">
                </a>
            </div>            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="color:white;  background-color: #911300">Мия Баки</li>
                <li class="list-group-item" style=" color:white; background-color: #911300">443778 руб</li>
            </ul>
            <div class="card-body">
                <button class="btn btn-sm btn-dark">В корзину</button>
            </div>
        </div>
    </div>
    <div style="margin-top:50px; margin-bottom:50px" class="col-md-3">
        <div class="card" style="width: 18rem; background-color: #911300">
            <div>
                <a asp-action="Information">
                    <img src="@Url.Content("~/lib/images/pngwing.com (2).png")" class="card-img-top" alt="...">
                </a>
            </div>            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="color:white;  background-color: #911300">Мия Баки</li>
                <li class="list-group-item" style=" color:white; background-color: #911300">443778 руб</li>
            </ul>
            <div class="card-body">
                <button class="btn btn-sm btn-dark">В корзину</button>
            </div>
        </div>
    </div>
</div>
